.Home {
    display: flex;
    width: 100%;
    height: auto;
}

.HomeContainer {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.HomeContainer h2 {
    text-align: center;
}